* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*page background color*/
body {
    background-color: rgb(174, 174, 174);
    font-family: Arial, 'Arial', Arial, sans-serif
}

.container {
    color: black;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Begin header section */

header {
    color: white;
    background-color: white;
    margin: 20px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    position: relative;
}

.branding-container span {
    color: red;
}

.header-link-container h4 {
    margin: 0 5px;
}

.header-link-container p {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;


}

header button {
    height: 40px;
}


/* Begin main section */

.container input {
    display: flex;
    justify-content: center;
}

.homepage-main .container {
    display: flex;
}

/* Begin aside */

aside {
    width: 20%;
    text-align: center;
}

.categories-aside button {
    background-color: white;
    color: black;
    width: 110px;
    height: 30px;
    margin: 5px;
}

/* Begin homepage main content */

.homepage-products {
    margin-left: 20px;
    border: solid black;
    width: 80%;
}

.product-section {
    margin-bottom: 10px;
    padding: 5px;
}


/* Card container */
.card-container {
    width: 100%;
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: left;
    overflow-x: auto;
    /* overflow-y: hidden; */
    white-space: nowrap;
}

.card {
    color: black;
    background-color: rgb(231, 255, 255);
    min-width: 200px;
    padding: 5px;
    margin: 5px;
    border: solid;
    text-align: center;
}

.card h3, .card p {
    margin: 5px 0;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

/* Set max size for images */
.card img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

/* Login and Sign up forms */

.login-signup-section {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* #product-elseprice {
    font-style: normal;
} */


/* Product details page */
.product-details .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;    
}

/* Edit products page */
.edit-product .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}





/* Mobile menus */

@media screen and (max-width: 1000px) {
    .hamburger-menu  {
        display: block;
    }

    .hamburger-menu span {
        display: block;
        height: 5px;
        width: 30px;
        background-color: black;
        margin-top: 2px;
    }

    /* .header-btn-container {
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: rgb(231, 255, 255);
        border: solid;
        height: 100px;
        padding: 0 10px;
    } */

    .header-btn-container.active {
        display: flex;
        align-items: center;
    }

    header button {
        display: block;
    }  
    
    .branding-container {
        display: block;
    }

    .hamburger-menu.active span:nth-child(1) {
        transform: translateY(65%) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(2) {
        display: none;
    }

    .hamburger-menu.active span:nth-child(3) {
        transform: translateY(-65%) rotate(-45deg);
    }
}