.profile-section {
    margin: auto;
    text-align: center;
}


/* Create new product form */
.create-new-product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid;
    margin: 50px 0px;
}

#new-product {
    display: block;

}

.form-section {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 5px 5px;
    align-items: stretch;
}

.product-create-btn {
    width: 98%;
}

.categories button img {
    width: 105px;
    height: 70px;
}

