.profile-section {
    margin: auto;
    text-align: center;
}

.profile-section-block {
    margin: 20px 0;
    border: solid;
    box-shadow: 20px black;
}
.create-new-product h3,
.profile-section-block > h3 {
    background-color: black;
    color: white;
}

