/* Added scaling on hover */
.categories button:hover,
.container button:hover,
.card:hover{   
    background-image: linear-gradient( rgb(241, 200, 200),lightcoral );
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 5px 5px 5px black;
}
